# ChickeeDuck Shopify Private App
API_KEY = example_api_key
PASSWORD = example_password
SHARED_SECRET = example_shared_secret
API_VERSION = 2021-07
HOSTNAME = example.hostname.com

# Server setting
SERVER_URL = example.server.url.com
PORT = 3000

# ChickeeDuck Server
CHICKEEDUCK_HOSTNAME = 192.168.0.1
CHICKEEDUCK_PORT = 3000
CHICKEEDUCK_LOGIN_USERNAME = username
CHICKEEDUCK_LOGIN_PASSWORD = password